#colophon {
    background-color: $color__bg-dkgray;

    .site-info {
        @include section-padding;
        @include padding-left-right;
        text-align: center;

        .contact-wrapper {
            .contact-link {
                display: block;
                margin: .5em 0;
            }
        }

        .privacy-wrapper {
            margin-top: 2em;
            a {
                display: block;
                color: inherit;
                text-decoration: none;
            }
        }

    }
}