.page-id-86,
.page-id-1389 {

    .exec-img-brendel {
        margin-left: 0;

        @include respond-to(small) {
            width:150px;
        }
    }

    .one-hour-img-brendel {
        margin-left: 0;
    }

    .exec-img-pcc {
        padding: 1em;
        margin-right: 1.5
    }

    section {

        &:first-child {

            .content-footer-wrapper {

                @include respond-to(mobile) {

                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    max-width: 400px;

                    .img-wrapper {

                        img {
                            display: inline-flex;
                            margin:0;
                        }

                        &:first-child,
                        &:nth-child(2) {
                            flex: 1 1 50%;
                        }

                        &:nth-child(3) {
                            flex: 1 1 100%;
                            margin-top: 1em;
                        }
                    }

                }

                // @include respond-to(small) {

                //     display: flex;
                //     flex-direction: row;
                //     flex-wrap: wrap;
                //     justify-content: center;
                //     max-width: 400px;

                //     .img-wrapper {
                //         display: block;

                //         img {
                //             display: inline-flex;
                //             margin:0;
                //         }

                //         &:first-child,
                //         &:nth-child(2) {
                //             flex: 0 0 50%;
                //         }

                //         &:nth-child(3) {
                //             flex: 0 0 100%;
                //             margin-top: 1em;
                //         }
                //     }

                // }
            }
        }
    }
}