/*--------------------------------------------------------------
### Simple Content Section
--------------------------------------------------------------*/

// bg-white : White
// bg-ltgray : Light Gray
// bg-purple : Purple
// bg-green : Green

.simple-content-section {
    // // min-height: 400px;
    // background-repeat: no-repeat;
    // vertical-align: middle;
    // background-size: 30%; // change responsive sizes
    // background-position: 20% 50%; // change responsive sizes

    h2 {
        text-align: center;
    }

    .content-section-wrapper {
        @extend .wrapper;
        @include section-padding;
    }

    .bg-white {
        background-color: #fff;
        color: $color__text-main;
    }


    .bg-ltgray {

    }

    .bg-purple {
        background-color: $color__bg-purple;
        color: rgba(255, 255, 255, 0.8);

        h2 {
            color: #fff;
        }

        p {
            letter-spacing: .6px;
        }

    }

    .bg-green {

    }





    // .editor-wrapper {
    //     text-align: left;
    //     width: 50%;
    //     margin-left: auto;
    // }
}


/*--------------------------------------------------------------
### Advanced Content Section
--------------------------------------------------------------*/

.advanced-content-section {
    @include section-padding;

    .header-img {
        @include center-block;
    }

    h2, h3 {

        text-align: center;
        line-height: 1.5;
    }

    .skills-wrapper {
        display: block;
        text-align: center;
        font-family: $font__alt-bold;
        color: $color__dark-gray;
        letter-spacing: 0.8px;
        text-transform: uppercase;

        .skill {
            margin: 1em 0;
        }
    }

    .split-column-wrapper {

        .column-wrapper {

            p {
                margin: 0;
            }
        }
    }

    .content-footer-wrapper {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        text-align: center;

        a {
            flex: 1;
            text-decoration: none;
            margin: 1.5em 0;

            button {
                // width: 190px;
                // height: 45px;
            }
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        @include respond-to(medium) {
            // flex-direction: row;
        }
    }

}

/*--------------------------------------------------------------
### Mid Page Navigation Section
--------------------------------------------------------------*/

.mid-page-navigation-section {
    background-color: $color__orange;

    .content-section-wrapper {
        @include container;

        .margin-wrapper {
            display: flex;
            flex-direction: column;
            margin-right: -1px;
        }

        .nav-container {
            background-color: #fff;

            .nav-wrapper {
                background-color: $color__orange;
                margin-bottom: 1px;
                margin-right: 1px;
            }

            .nav-content {
                text-align: center;
                color: #fff;
                padding: 2em;
            }

            h3 {
                color: $color__dark_gray;

                font-family: $font__alt-bold;
                text-transform: uppercase;
                letter-spacing: .8px;
            }

            a {
                text-decoration: none;
                font-family: $font__alt-bold;
                text-transform: uppercase;
                color: #fff;
                letter-spacing: .8px;
            }
        }

        @include respond-to(mobile) {
            .margin-wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                margin-right: -1px;
            }

            .nav-container {
                flex: 1 1 50%;
                display: flex;


                .nav-wrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .nav-content {

                }

                h3 {

                }

                a {

                }
            }

        }
    }
}

/*--------------------------------------------------------------
### Color Callout Section OG Section
--------------------------------------------------------------*/

// .color-callout-section-img {

//     .background-img-fade {
//         padding:0;
//         background-size: 150%;
//         background-position: -250px 50%;
//         background-repeat: no-repeat;
//     }

//     h2 {
//         color: #fff;
//     }

//     .editor-wrapper p {
//         color: $color__dark_gray;
//     }

//     .content-section-wrapper {
//         @include section-padding;
//         background-color: rgba(36,207,95, 0.7);
//     }

//     @include respond-to(mobile) {
//         .background-img-fade {
//             background-size: contain;
//             background-position: -200px 70%;
//         }
//     }

//     @include respond-to(small) {
//         .background-img-fade {
//             // background-size: 70%;
//             background-position: -20% 50%;
//         }

//         .editor-wrapper {
//             margin-left: calc(50% - 100px);
//         }
//     }
// }

// .color-callout-section-no-img {

//     .content-section-wrapper {
//         @include section-padding;

//         .color-callout-img {
//             display: block;
//             margin-bottom: 2em;
//             text-align: center;
//         }
//     }

//     @include respond-to(mobile) {

//     }

//     @include respond-to(small) {
//         .content-section-wrapper {
//             display: flex;

//             .color-callout-img {
//                 display: inline-flex;
//                 flex: 1 0 30%;
//             }

//             .editor-wrapper {
//                 flex: 1 1 auto;
//             }
//         }
//     }
// }


/*--------------------------------------------------------------
### Color Callout Section Copy
--------------------------------------------------------------*/

//style="background-image:url(http://localhost:8888/leading-minds/wp-content/themes/leading_minds/imgs/brains.svg);background-color:<?php echo $bg_color; ?>;"

/*

xbg-default : White (Default)
xgreen-brain-left : Green Section (Brain Left)
xlt-gray-brain-left : Light Gray Section (Brain Left)
gxreen-brain-center : Green Section (Brain Center)
lt-gray-brain-center : Light Gray (Brain Center)
green-img-left : Green Section (Image Left)
lt-gray-green-btns

*/

.color-callout-section {

    .bg-default {
        background-color: #fff;

        // text-align: center;

        .color-callout-img {
            display: none;
        }
    }

    .green-brain-left {
        background-color: $color__bg-green;

        .color-callout-img {
            display: none;
        }

        .background-image {
            padding:0;
            background-repeat: no-repeat;
            background-image:url(http://leading-minds.dev/wp-content/themes/leading_minds/imgs/brains/large-green-brain.svg);
            background-position: -250px 50%;

            .content-section-wrapper {
                @extend .wrapper;
                @include section-padding;
                color: $color__dark-gray;

                h2 {
                    color: #fff;
                }
            }

            @include respond-to(mobile) {
                background-size: contain;
                background-position: -200px 70%;
            }

            @include respond-to(small) {
                background-position: -20% 50%;

                .editor-wrapper {
                    margin-left: calc(50% - 100px);
                }
            }
        }
    }

    .lt-gray-brain-left {
        background-color: $color__bg-ltgray;

        .color-callout-img {
            display: none;
        }

        .background-image {
            padding:0;
            background-repeat: no-repeat;
            background-image:url(http://leading-minds.dev/wp-content/themes/leading_minds/imgs/brains/large-green-brain.svg);
            // background-size: 100px;
            background-position: -250px 80%;

            .content-section-wrapper {
                @extend .wrapper;
                @include section-padding;
            }

            @include respond-to(mobile) {
                background-size: contain;
                background-position: -200px 70%;
            }

            @include respond-to(small) {
                background-position: -20% 50%;

                .editor-wrapper {
                    margin-left: calc(50% - 100px);
                }
            }
        }
    }

    .green-brain-center {
        background-color: $color__bg-green;
        text-align: center;

        .color-callout-img {
            display: none;
        }

        .background-image {
            padding:0;
            background-repeat: no-repeat;
            background-image:url(http://localhost:8888/leading-minds/wp-content/themes/leading_minds/imgs/brains.svg);
            background-size: 40%;
            background-position: 50%;

            .content-section-wrapper {
                @include section-padding;
                background-color: rgba(36,207,95, 0.7);
            }

            h2 {
                color: #fff;
            }
        }
    }

    .lt-gray-brain-center {
        background-color: $color__bg-ltgray;
        text-align: center;

        .color-callout-img {
            display: none;
        }

        .background-image {
            padding:0;
            background-repeat: no-repeat;
            background-image:url(http://localhost:8888/leading-minds/wp-content/themes/leading_minds/imgs/brains.svg);
            background-size: 40%;
            background-position: 50%;

            .content-section-wrapper {
                @include section-padding;
                background-color: rgba(232,232,232, 0.7);
            }

            h2 {
                color: #fff;
            }
        }
    }

    .green-img-left {

        background-color: $color__bg-green;

        h2 {
            color: #fff;
        }

        .content-section-wrapper {
            @include section-padding;
            // color: $color__dark-gray;
            color: #fff;
            letter-spacing: .7px;

            .color-callout-img {
                display: block;
                margin-bottom: 2em;
                text-align: center;
                }
            }

            @include respond-to(mobile) {

            }

            @include respond-to(small) {
                .content-section-wrapper {
                    display: flex;

                    .color-callout-img {
                        display: inline-flex;
                        flex: 1 0 30%;
                    }

                    .editor-wrapper {
                        flex: 1 1 auto;
                    }
                }
            }
    }

    .lt-gray-green-btns {
        background-color: $color__bg-ltgray;
        text-align: center;

        .color-callout-img {
            display: none;
        }

        .background-image {
            padding:0;
            background-repeat: no-repeat;
            background-image:url(http://leading-minds.dev/wp-content/themes/leading_minds/imgs/brains/colored-section-white-brain-1.svg);
            background-size: 40%;
            background-position: 50%;

            .content-section-wrapper {
                @include section-padding;
                @extend .wrapper;
            }

            h2, h3 {
                color: $color__dark-gray;
            }
        }
    }

}



/*--------------------------------------------------------------
### Testimonial Section
--------------------------------------------------------------*/

.testimonial-section {
    background-color: $color__purple;
    // min-height: 200px;

    .content-section-wrapper {
        @extend .wrapper;
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .microphone-section {
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: center;

        h5 {
            text-transform: uppercase;
            margin-top: 1em;
            margin-bottom: .5em;
            color: #fff;
        }
    }

    .testimonial-carousel {
        padding-left: 1em;
        padding-right: 1em;

        blockquote {
            @include reset;
        }

        .cell {
            width: 100%; /* full width */
            height: auto; /* height of carousel */
            color: #fff;

            h4 {
                @include reset;
                color: #fff;
            }

            h5 {
                @include reset;
                color: #fff;
            }
        }

        // Custom Flickity Styles

        /* big buttons, no circle */
        .flickity-prev-next-button {
            width: 13px;
            height: 24px;
            background: transparent;
        }
        .flickity-prev-next-button:hover {
            background: transparent;
        }
        /* arrow color */
        .flickity-prev-next-button .arrow {
            fill: white;
        }
        .flickity-prev-next-button.no-svg {
            color: white;
        }

        .flickity-prev-next-button.previous {
            top: 30%;
            left: -50px;
        }
        .flickity-prev-next-button.next {
            top: 30%;
            right: -50px;
        }
    }
}

/*--------------------------------------------------------------
### Associates Section
--------------------------------------------------------------*/

.associates-section {
    @include section-padding;

    .content-section-wrapper {
        @include container;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $color__text-main;

    }

    img {
        @include center-block;
        border-radius: 50%;
    }

    h4, h5 {
        @include reset;
    }

    h4 {
        margin-top: 1em;
        color: $color__dark_gray;
        font-family: $font__alt-bold;
        text-transform: uppercase;
        letter-spacing: 1.6px;
    }

    .h5 {
        color: $color__med_gray;
    }

    .associate-block {
        padding-top: 2em;
        padding-bottom: 2em;
        transition:box-shadow .25s ease-out;

        &:hover {
            box-shadow: 0 0 7px rgba(0, 0, 0, .35);
            color: #656b6f;
        }
    }

    @include respond-to(small) {

        .flex-wrapper {
            display: flex;
            justify-content: space-around;
            align-content: center;
        }
        .associate-block {
            flex: 1 0 calc(100% / 3);
        }
    }
}


/*--------------------------------------------------------------
### Custom Styles for various sections
--------------------------------------------------------------*/
.page-template-page-custom {



}