/*--------------------------------------------------------------
### Simple Content Section
--------------------------------------------------------------*/

.simple-content-section {
    // min-height: 400px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 30%; // change responsive sizes
    background-position: 20% 50%; // change responsive sizes

    h2 {
        text-align: center;
    }

    .content-section-wrapper {
        @include section-padding;
    }



    // .editor-wrapper {
    //     text-align: left;
    //     width: 50%;
    //     margin-left: auto;
    // }
}


/*--------------------------------------------------------------
### Advanced Content Section
--------------------------------------------------------------*/

.advanced-content-section {
    // color: $color__dark_gray;
    @include section-padding;

    .header-img {
        @include center-block;
    }

    h2, h3 {

        text-align: center;
    }

    .skills-wrapper {
        display: block;
        text-align: center;
        font-family: $font__alt-bold;
        color: $color__dark-gray;
        letter-spacing: 0.3px;
        text-transform: uppercase;

        .skill {
            margin: 1em 0;

        }
    }

    .content-footer-wrapper {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        a {
            flex: 1;
            text-decoration: none;

            button {
                // width: 190px;
                // height: 45px;
            }
        }

        .footer-img {
            flex: 1;
            max-width: 80px;
            margin-left: auto;
            margin-right: auto;
        }

        @include respond-to(medium) {
            flex-direction: row;
        }
    }

}

/*--------------------------------------------------------------
### Green Brain Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
### Mid Page Navigation Section
--------------------------------------------------------------*/

.mid-page-navigation-section {

    .content-section-wrapper {
        max-width: $width_max-content-width;
        margin-left: auto;
        margin-right: auto;
        background-color: $color__orange;


        .margin-wrapper {
            display: flex;
            flex-wrap: wrap;
            margin-right: -1px;
        }

        .nav-container {
            background-color: #fff;
            flex: 1 1 50%;

            .nav-wrapper {
                background-color: $color__orange;
                min-height: 100px;
                margin-bottom: 1px;
                margin-right: 1px;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            .nav-content {
                max-width: 50%;
                text-align: center;
                color: #fff;
            }

            h3 {
                @include reset;
                display: block;
                color: #000;
                text-transform: uppercase;
            }

            a {
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
            }
        }
    }
}

/*--------------------------------------------------------------
### Color Callout Section
--------------------------------------------------------------*/

.color-callout-section-img {

    .background-img-fade {
        padding:0;
        background-size: 150%;
        background-position: -250px 50%;
        background-repeat: no-repeat;
    }

    h2 {
        color: #fff;
    }

    .editor-wrapper p {
        color: $color__dark_gray;
    }

    .content-section-wrapper {
        @include section-padding;
        background-color: rgba(36,207,95, 0.7);
    }

    @include respond-to(mobile) {
        .background-img-fade {
            background-size: contain;
            background-position: -200px 70%;
        }
    }

    @include respond-to(small) {
        .background-img-fade {
            // background-size: 70%;
            background-position: -20% 50%;
        }

        .editor-wrapper {
            margin-left: calc(50% - 100px);
        }
    }
}

.color-callout-section-no-img {

    .content-section-wrapper {
        @include section-padding;

        .color-callout-img {
            display: block;
            margin-bottom: 2em;
            text-align: center;
        }
    }

    @include respond-to(mobile) {

    }

    @include respond-to(small) {
        .content-section-wrapper {
            display: flex;

            .color-callout-img {
                display: inline-flex;
                flex: 1 0 30%;
            }

            .editor-wrapper {
                flex: 1 1 auto;
            }
        }
    }
}


/*--------------------------------------------------------------
### Testimonial Section
--------------------------------------------------------------*/

.testimonial-section {
    background-color: $color__purple;
    // min-height: 200px;

    .content-section-wrapper {
        @extend .wrapper;
        padding-top: 2em;
        padding-bottom: 3em;
    }

    .microphone-section {
        padding-top: 2em;
        text-align: center;

        h5 {
            text-transform: uppercase;
            margin-top: 1em;
            margin-bottom: .5em;
            color: #fff;
        }
    }

    .testimonial-carousel {
        padding: 3em 1em;
        displ

        blockquote {
            @include reset;
        }

        .cell {
            width: 100%; /* full width */
            height: auto; /* height of carousel */
            color: #fff;

            h4 {
                @include reset;
                color: #fff;
            }

            h5 {
                @include reset;
                color: #fff;
            }
        }

        // My Styles

        /* big buttons, no circle */
        .flickity-prev-next-button {
          width: 13px;
          height: 24px;
          background: transparent;
        }
        .flickity-prev-next-button:hover {
          background: transparent;
        }
        /* arrow color */
        .flickity-prev-next-button .arrow {
          fill: white;
        }
        .flickity-prev-next-button.no-svg {
          color: white;
        }

        .flickity-prev-next-button.previous {
          left: -50px;
        }
        .flickity-prev-next-button.next {
          right: -50px;
        }
    }
}

/*--------------------------------------------------------------
### Associates Section
--------------------------------------------------------------*/

.associates-section {

    .content-section-wrapper {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $color__text-main;

    }

    img {
        @include center-block;
        border-radius: 50%;
    }

    h4, h5 {
        @include reset;
    }

    h4 {
        margin-top: 1em;
        color: $color__dark_gray;
        font-family: $font__alt-bold;
        text-transform: uppercase;
        letter-spacing: 1.6px;
    }

    .h5 {
        color: $color__med_gray;
    }

    .associate-block {
        padding-top: 2em;
        padding-bottom: 2em;
        transition:box-shadow .25s ease-out;

        &:hover {
            box-shadow: 0 0 7px rgba(0, 0, 0, .35);
            color: #656b6f;
        }
    }

    @include respond-to(small) {

        .flex-wrapper {
            display: flex;
            justify-content: space-around;
            align-content: center;
        }
        .associate-block {
            flex: 1 0 calc(100% / 3);
        }
    }
}










/*--------------------------------------------------------------
### Custom Styles for various sections
--------------------------------------------------------------*/
.page-template-page-custom {

    .exec-img-brendel {
        margin-left: 0;
    }

    .exec-img-pcc {
        padding: 1em;
        margin-right: 1.5

        em;
    }

}