/*--------------------------------------------------------------
### Simple Content Section
--------------------------------------------------------------*/

.simple-content-section {


}


/*--------------------------------------------------------------
### Advanced Content Section
--------------------------------------------------------------*/

.advanced-content-section {
    color: $color__dark_gray;
    @include section-padding;

    .header-img {
        @include center-block;
    }

    h2, h3 {
        text-align: center;
    }

    .content-footer-wrapper {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        a {
            flex: 1;
            text-decoration: none;

            button {
                // width: 190px;
                // height: 45px;
            }
        }

        .footer-img {
            flex: 1;
            max-width: 80px;
            margin-left: auto;
            margin-right: auto;
        }

        @include respond-to(medium) {
            flex-direction: row;
        }
    }

}

/*--------------------------------------------------------------
### Green Brain Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
### Green Left Image Section
--------------------------------------------------------------*/


/*--------------------------------------------------------------
### Testimonial Section
--------------------------------------------------------------*/

.testimonial-section {
    background-color: $color__purple;
    min-height: 200px;

    .content-section-wrapper {
        @extend .wrapper;
    }

    .microphone-section {
        padding-top: 2em;
        text-align: center;

        h5 {
            text-transform: uppercase;
            margin-top: 1em;
            margin-bottom: .5em;
            color: #fff;
        }
    }

    .testimonial-carousel {
        width: 100%;
        height: 300px;

        blockquote {
            @include reset;
            margin: .5em;
        }

        .cell {
            width: 100%;
            color: #fff;

            h4 {
                margin:0;
                color: #fff;
            }

            h5 {
                margin: 0;
                color: #fff;
            }
        }

        button.flickity-prev-next-button.previous {
            display: none;
        }
        button.flickity-prev-next-button.next {
            display: none;
        }

        @include respond-to(x-small) {
            button.flickity-prev-next-button.previous {
                display: block;
                left: -80px;
            }
            button.flickity-prev-next-button.next {
                display: block;
                right: -80px;
            }
        }

        @include respond-to(small) {
            max-width: 675px;
            height: 350px;

            .cell {
                width: 50%;
            }

            button.flickity-prev-next-button.previous { left: -45px; }
            button.flickity-prev-next-button.next { right: -45px; }
        }

        @include respond-to(medium) {
            max-width: 925px;

            .cell {
                width: 33.333%;
            }
        }

        @include respond-to(large) {
            max-width: 1050px;

            .cell {
                width: 28%;
                margin: 3% 4%;
            }
        }
    }
}

/*--------------------------------------------------------------
### Associates Section
--------------------------------------------------------------*/

.associates-section {

    .content-section-wrapper {
        text-align: center;
    }

    a {
        text-decoration: none;
        color: $color__text-main;

    }

    img {
        @include center-block;
        border-radius: 50%;
    }

    h4, h5 {
        @include reset;
    }

    h4 {
        margin-top: .5em;
    }

    .associate-block {
        padding-top: 2em;
        padding-bottom: 2em;
        transition:box-shadow .25s ease-out;

        &:hover {
            box-shadow: 0 0 7px rgba(0, 0, 0, .35);
            color: #656b6f;
        }
    }

    @include respond-to(small) {

        .flex-wrapper {
            display: flex;
            justify-content: space-around;
            align-content: center;
        }
        .associate-block {
            flex: 1 0 calc(100% / 3);
        }
    }
}