ul, ol {
	@include reset;
    margin-left: 1em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	@include reset;
    margin-left: 1em;
}

li {
    margin: .5em 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}