#masthead {
    background-color: $color__bg-purple;
    color: #fff;
    @include padding-left-right;
    // padding-top: 10px;
    // padding-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: -1;

    .dropdown-menu {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 2em;
        display: none;
        max-width: 310px;
        background-color: $color__bg-green;
        color: #fff;
        margin-left: auto;
        margin-right: 2em;

        .menu-green-dropdown-menu-container {
            background-color: $color__bg-green;
            padding-left: .5em;
            padding-right: .5em;
            max-width: 100%;

            ul {
                flex: none;
                list-style-type: none;
                margin: 0;
                padding: 0;

                &:hover {

                    li {

                        ul {
                            background-color: $color__bg-green;
                            display: block;
                            width: 100%;

                            li {

                                a {
                                    color: #fff;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }

                li {
                    margin: 0;
                    padding: 0;

                    a {
                        width: 100%;
                        color: #fff;
                        font-size: .8em;
                        font-family: $font__alt-semibold;
                        text-transform: uppercase;
                        text-decoration: none;
                    }

                    ul {
                        display: none;

                        li {

                        }
                    }

                }
            }
        }

        @include respond-to(large) {
            display: block;

        }
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        flex: 1;
    }

    .site-branding {
        margin-top: 1em;

        svg {
            max-width: 175px;
        }
    }

    nav {

        button {
            margin-left: auto;
        }

        .mobile-icon {
            // margin-left: auto;

        }
    }
}